{% extends 'base.html' %}
{% block content %}
    
    <div class="container tableCard">
        <div class="tableCardHeader">
            <h2 class="cardTitle"> Bets </h2>
        </div>

        <div class="table">
            <p class="tableData">Country</p>
            <p class="tableData">Placement</p>
            <p class="tableData">Score</p>
        </div>

        {% for bet in user_bets %}
            <div class="table">
                <p class="tableData">{{ bet.country }}</p>
                <p class="tableData">{{ bet.bet_placement }}</p>
                <p class="tableData">{{ bet.bet_score }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}